<!DOCTYPE html>
<html data-bs-theme="" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>RRHH - Candidatos</title>

    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" rel="stylesheet">
    <script crossorigin="anonymous"
            integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

    <link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script src="/change-theme-bootstrap.js"></script>

    <script src="/date-validator.js"></script>
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<div class="container">
    <h1 class="mb-2">Elegir Candidato</h1>

    <div th:if="${candidatos.isEmpty()}">
        <div class="alert alert-warning mb-2">
            No se encontraron candidatos que posean los conocimientos requeridos para la búsqueda.
        </div>
        <a class="btn btn-secondary" href="/entrevista/agendar" role="button">Volver</a>
    </div>

    <div th:if="${!candidatos.isEmpty()}">
        <div class="d-flex justify-content-center align-items-center">
            <div class="position-relative w-100 m-4">
                <div aria-label="Progress" aria-valuemax="100" aria-valuemin="0" aria-valuenow="50" class="progress"
                     role="progressbar" style="height: 1px;">
                    <div class="progress-bar" style="width: 50%"></div>
                </div>
                <button class="position-absolute top-0 start-0 translate-middle btn btn-sm btn-primary rounded-pill"
                        style="width: 2rem; height:2rem;"
                        type="button">1
                </button>
                <button class="position-absolute top-0 start-50 translate-middle btn btn-sm btn-primary rounded-pill"
                        style="width: 2rem; height:2rem;"
                        type="button">2
                </button>
                <button class="position-absolute top-0 start-100 translate-middle btn btn-sm btn-secondary rounded-pill"
                        style="width: 2rem; height:2rem;"
                        type="button">3
                </button>
            </div>
        </div>

        <form action="#" class="form-inline needs-validation" id="form" method="post"
              novalidate th:action="@{/entrevista/confirmacion}">
            <p>Candidatos que tienen conocimientos requeridos para la búsqueda
                <strong><span th:text="${busquedaLaboral.descripcion}"></span></strong>
            </p>

            <input id="idBusquedaLaboral" name="idBusquedaLaboral" th:value="${busquedaLaboral.idBusquedaLaboral}"
                   type="hidden"/>

            <div class="form-group mb-2">
                <table class="table table-hover table-striped">
                    <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Conocimientos</th>
                        <th>Seleccionar</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="c : ${candidatos}">
                        <td th:text="${c.nombre}"></td>
                        <td th:text="${c.apellido}"></td>
                        <td>
                            <a class="btn btn-secondary" href="#">
                                <span class="badge" th:text="${c.cantidadConocimientos}"></span>
                            </a>
                        </td>
                        <td>
                            <input class="form-check-input" id="codCandidato" name="codCandidato" required
                                   th:value="${c.idCandidato}" type="radio">
                            <label class="form-check-label" for="codCandidato">
                            </label>
                            <div class="invalid-feedback">Seleccione un candidato.</div>
                        </td>
                    </tr>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="form-group mb-2">
                <div class="form-floating position-relative">
                    <input autocomplete="off" class="form-control" id="fecha" name="fecha" placeholder="Fecha de entrevista"
                           required type="text"/>
                    <label class="form-label" for="fecha">Fecha de entrevista</label>
                    <div class="invalid-tooltip position-absolute end-0">
                        Seleccione una fecha.
                    </div>
                </div>
            </div>
            <button class="btn btn-primary" type="submit">Confirmar</button>
            <a class="btn btn-secondary" href="/entrevista/agendar" role="button">Volver</a>
        </form>
    </div>
</div>

<div th:replace="~{fragments/footer :: footer}"></div>

<script src="/form-validator-bootstrap.js"></script>
</body>
</html>