<!DOCTYPE html>
<html data-bs-theme="" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Footer</title>
</head>
<body>
<footer class="bg-body-tertiary position-absolute bottom-0 w-100 mt-3 py-4">
    <div class="container d-flex align-items-center justify-content-center h-100">
        <div class="text-center">
            <a href="https://github.com/sebafermanelli/rrhh-diseno-de-sistemas-utn" target="_blank">Repositorio de
                GitHub</a>
        </div>
    </div>
</footer>
</body>
</html>